


.wrapperUsers {
    width: 100%;
}


.boxUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    max-height: 160px;
    padding: 10px 6px;
    margin-bottom: 25px;
    overflow: hidden;
}

.userPhoto {
    width: 70px;
    object-fit: cover;
    margin: 0 20px 20px 0;
}

.name {
    color: hsla(0, 0%, 41.2%, .8);
    margin-bottom: 5px;
}

.status {
    display: block;
    margin-bottom: 10px;
}

.nameSpan {
    color: #ff8f00;
}

.btn {
    width: 100px;
    padding: 5px 15px;
    background-color: #ff8f00;
    border: 1px solid #ff8f00;
    color: #ffffff;
    transition: all 0.5s;
}

.btn:hover {
    border: 1px solid #ff8f00;
    background-color: #ffffff;
    color: #ff8f00;
}