.navigation{
  margin-right: 20px;
  width: 300px;
  padding: 15px;
  background-color: #1565c0;
  height: 100vh;

  &__items{

  }

  &__item{
    padding-bottom: 15px;
  }

  &__link{
    font-size: 20px;
    color: #ff8f00;
  }
}

