.navigation {
  margin-right: 20px;
  width: 300px;
  padding: 15px;
  background-color: #32353a;
  min-height: 100%;
  border-radius: 20px;

  &__items {

  }

  &__item {
    padding-bottom: 15px;
  }

  &__link {
    font-size: 20px;
    color: #ff8f00;
  }

  &__active{
    color: #d33a91;
    transition: all 0.7s;
    font-weight: 600;
  }
}




