.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icons {
    width: 60px;
    height: 60px;
    margin: 0 20px 20px 0;
}

.likesIcon {
    cursor: pointer;
    width: 30px;
}