
.profile {

  &__banner {
    max-width: 100%;
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__avatar {
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    margin-right: 40px;
    border-radius: 20px;
    object-fit: cover;
  }

  &__descr {
    margin-left: 40px;
  }

  &__name {
    margin-bottom: 20px;
  }

  //&__list {
  //  padding: 0;
  //}
  //
  //&__item {
  //  margin-bottom: 10px;
  //
  //  span {
  //    padding-left: 10px;
  //  }
  //}
}

.post {

  &__title {
    margin-bottom: 15px;
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border-color: #1565c0;
    padding: 5px;
    margin-bottom: 15px;
  }

  &__btn {
    cursor: pointer;
    color: #ff8f00;
    background-color: transparent;
    border: 1px solid #ff8f00;
    padding: 5px 2px;
    margin-bottom: 20px;
    transition: all 0.5s;
    &:hover{
      color: aliceblue;
    }
  }
}