@import './assets/normalize/noramlize.css';

body {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.maxContainer{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.textArea {
  resize: none;
  width: 100%;
  border-radius: 20px;
  border: 1px solid orange;
  padding: 20px;
  height: 100px;
  margin-bottom: 20px;
}

.btn {
  border: none;
  background-color: #ff8f00;
  padding: 5px 20px;
  color: white;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}