*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #ff8f00;
  font-family: Roboto;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.app {
  display: flex;
  min-height: 100vh;

  &__inner {
  transition: all 0.4s;
  }

  &__box {
    flex: 0 1 100%;
    margin-bottom: 50px;
  }
}

