.wrapper{
    max-width: 500px;
    width: 100%;
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item {
    margin-bottom: 10px;
}